.main__content {
  padding: 2rem;
  display: grid;
  grid-template-areas: 
  "image title"
  "image resume"
  "image resume" ;
}

.main__img {
  padding: 5px;
  border-radius: 20px;
  grid-area: image;
}

.main__title {
  padding: 1rem;
  grid-area: title;
}

.main__resume {
  text-align: justify;
  margin: 0px 0px 0 1rem;
  grid-area: resume;
}