@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

  * {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  width: 100%;
  padding: 2rem;
  background-color: #EBEBEB;
  font-family: 'Unbounded', cursive;
}