.feed__card {
  padding: 1rem;
  flex-basis: 25%;
}

.feed__image {
  border-radius: 5%;
  width: 100%;
  margin: auto;
}

.feed__tittle{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.feed__resume {
  text-align: justify;
  width: 100%;
}